*{
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 text-decoration: none;
	 color: white;
}
/*Logo*/
section.logo{
	color: white;
	font-size: 30px;
	padding-left: 50px;
	line-height: 60px;
	float: left ;

}
	/*Navbar design*/
nav{
	height: 100px;
	width: 98%;
	margin-left: 5px;
	line-height: 60px;

}
nav ul{
	float: right;
	line-height: 60px;
	margin: 2px;
	

}
nav ul li{
	line-height: 60px;
	margin: 5px;
	display: inline-block;
}
nav ul li a{
	font-size: 17px;
	padding: 10px;
	text-transform: uppercase;
}
nav ul li a:hover {
	font-size: 25px;
}
/* Hamburger icon*/ 
 
.checkbtn{
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*Header*/
.header{
	background-color: #2C3333;
	height: 450px;
	width: 100%;
	margin-bottom: 3px;
}
.header-message  {
	 background-color: black;
	 width: 30%;
	 margin-top: 5%;
   margin: auto;
   padding: 2%;
   height: 46%;

}
.header-message h2{
	text-align: center;
	color: white;
	font-size: 65px;

}
 
.header-message h1{
	
	color: white;
	text-align: center;
	 

}

.started{
	border: 1px solid green;
	background-color:green;
	border-radius: 15px;
	align-content: center;
	margin-left: 41%;
	margin-top: 5%;
	padding: 2%;
}


/*index content*/
.myinfo {
  display: grid;
  grid-template: 150px / auto auto;
  justify-content: space-evenly;  
  width: 70%;
  margin: auto;
 
   } 

.myself {
  background: #395B64;
  text-align: center;
  padding: auto;
  font-size: 25px;
  width: 80%;
   }

.myinfo-left img {
  background-size: cover;
  background-color: red;
 height:800px; 
  width:50%;}


/*portfolio content*/
.portfolio{
	background-color: #361500;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	height: 350px;
}


.pic {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 68%;
  height: 58%;
  margin: 15px;
}

.pic:hover {
 border:1px solid yellow;
}

.pic img {
  border-radius: 15px;
  width: 100%;
  height: 150px;
}

.imgabt h5 {
  padding: 10px;
  text-align: center;
}

/*contact content*/
.contact {
  width: 80%;
  margin: auto;
  max-width: 50%;
  padding: 50px;
  background: #395B64; 
   

}


.contact h1 {
    text-align: center;
     }



label {
  display: block;
  margin-top: 20px;
  font-size: 25px;
   }
 


textarea {
  display: block;
  padding: 20px;
  width: 70%;
  border: 1px solid rebeccapurple;
  font-size: 20px;
  color: blue; }

input{
	width: 50%;
	height: 20%;
	font-size: 25px;
	color: blue;
}
 
.button {
	color: white;
  width: auto;
  margin-top: 30px;
  background: forestgreen;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px;
  margin-left: 42%;
  }


/*blog content*/
.blog{	
	 background-color: #7952B3;  
  width: 90%;
  margin: auto;

}
.blog h2{	
	 padding-top: 5px;
	  text-align: center;
	  padding-bottom: 5px;

}
.daily-exp{
  margin: auto;
  width: 80%;
  font-size: 170%;
  column-count: 3;
}

/*Sitereport content*/
.sitereport{
	background-color: ;
	background-color: #361500;
}
.sitereport p{
	font-size: 28px;
	width: 95%;
  margin: auto;
  padding-bottom: 15px;
	 
}
.sitereport h2{
	 padding-left: 39%;
	 margin-top: 40px;
	 margin-bottom: 40px;
	 
}
.site-img{
	display: grid;
	grid-template-columns: auto auto;

}

.image {
  border-radius: 15px;
  width: 68%;
  height: 58%;
  margin: 15px;
}

.image img {
border-radius: 15px;
    width: 113%;
    height: 343px;
}

.imagebt {
  padding: 10px;
  text-align: center;
}




/*Footer design*/
 
footer{
	text-align: center;
	background: #2666CF;
	height: 250px;
	padding-top: 40px;
	margin-top: 3px;
}

/*Responsive query for all content*/
@media only screen and (max-width: 800px){

	*{

	 margin: 0;
	 padding: 0;
	 list-style: none;
	 text-decoration: none;
	 color: white;
	}
	body{
		width: 99%;
	}

	section.logo{
	font-size: 30px;
	padding-left: 20px;

	}

	nav{
	height: 100px;
	width: 100%;
	margin-left: 5px;

	}

	nav ul li a{
	font-size: 15px;
	}

	 

	nav ul{
	width: 100%;
	height: 55%;
	display: block;
	top: 50px;
	left:  0%;
	background: blue;
	text-align: center;
	transition: all .5s;

	}
	nav ul li {
	display: block;
	}
	nav ul li a {
	font-size: 20px;
	}
	nav ul li a:hover {
	background: none;
	color: white;
	}

	.checkbtn{
    display: block;
    float: right;
    margin-right: 40px;
    line-height: 20px;
}
.navbar{
	 	text-align: left;
		margin-top: 20px;
    position: fixed;
    height: 100%;
    width: 60%;        
    left: -90%;
    background-color: blue;    
    display: flex;
    flex-direction: column;
    transition: all .10s;
}
.navbar li{
    display: block;
  
}
#check:checked ~ .navbar{
	position: fixed;
    left:  0;

}
	







	.header-message  {
	 
	background-color: red;
	padding: auto;
	margin: auto;
	width: 60%;
   }
	

   .header-message button{
	background-color:green;
	border-radius: 15px;
	align-content: center;
	margin-left: 35%;
	 
   }



.myinfo {
	 display: grid;
	 grid-template:  auto auto;
	 justify-content: space-around;
	 width:100%;
	 margin: auto;
 
   } 
 
   .myself {
  background: #395B64;
  text-align: center;
  padding: auto;
  font-size: 15px;
  width: 80%;
   }

   .myinfo-left   {
  width:200px; 
  }

.myinfo-left img {
 background-size: cover;
 background-color: red;
  
  
  }



.portfolio{
	background-color: #361500;
	display: grid;	 
	height: 250px;
}


.pic {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 85%;
  height: 60%;
  margin: 5px;
}


.pic img {
  border-radius: 15px;
  width: 100%;
  height: 150px;
}

.imgabt {
  padding: 5px;
  text-align: center;
}

.blog{	
  
  width: 100%;
  margin: auto;

}
.daily-exp{
  background-color: #7952B3;
  margin: auto;
  width: 80%;
  font-size: 170%;
  column-count: 2;
}

 
}


/*Reference list
Colorhunt.co. 2022. Color Palettes for Designers and Artists - Color Hunt. [online] Available at: <https://colorhunt.co/> [Accessed 5 March 2022].

Dribbble.com. 2022. Dribbble - Discover the World’s Top Designers & Creative Professionals. [online] Available at: <https://dribbble.com/shots> [Accessed 5 March 2022].

Youtube.com. 2022. [online] Available at: <https://www.youtube.com/watch?v=oLgtucwjVII&t=275s> [Accessed 5 March 2022].

W3schools.com. 2022. W3Schools Free Online Web Tutorials. [online] Available at: <https://www.w3schools.com/> [Accessed 5 March 2022].

 */